@media(max-width: 768px){
    .page {
        max-width: 768px;
        width: 80%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0);
        /*border: 1px solid red;*/
        /*box-sizing: border-box;*/
    }
}