.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

html {
    background: url("../img/bg.png") no-repeat 50% top;
    font-size: 10px;
}

.page {
    max-width: 960px;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid red;
    box-sizing: border-box;
}





